.bg-right-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 53%;
  height: calc(100vh - 10.79rem);
  background-image: url("/images/bg-right-image.png");
  background-size: contain;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.copyright {
  position: fixed;
  bottom: 2.86rem;
}