.button-accent {
  color: #fff;
  background-color: $accent-color;
  border-bottom: 1px solid darken($accent-color, 10%);
}

.button-error {
  color: #fff;
  background-color: $danger-color;
  border-bottom: 1px solid darken($danger-color, 10%);
}

.button-md {
  font-size: .93rem;
  border-radius: .714rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: .5rem 2.57rem;
}

.button-center {
  margin: 0 auto;
  display: block;
}

.button-transparent {
  background: none;
  border: 1px solid $accent-color;
  color: $accent-color;

  &:hover {
    color: #fff;
    background: $accent-color;
  }
}