.btn-accent {
  color: #fff;
  background-color: $accent-color;
  border-bottom: .29rem solid darken($accent-color, 10%);
}

.btn-error {
  color: #fff;
  background-color: $danger-color;
  border-bottom: .29rem solid darken($danger-color, 10%);
}

.btn-md {
  font-size: .93rem;
  border-radius: .714rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: .5rem 2.57rem;
}

.btn-center {
  margin: 0 auto;
  display: block;
}