.link {
  color: $gray-color;
  text-decoration: underline;
  font-weight: bold;

  &:hover {
    color: $accent-color;
  }

  &__accent {
    color: $accent-color;
  }

  &__accent-dark {
    color: $accent-dark-color;

    &:hover {
      color: $accent-dark-color;
    }
  }

  &__white {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  .fa-relative {
    position: relative;
    top: 5px;
  }
}